body {
    font-family: cursive;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: blue;
}

.imgages {
    display:inline-block;
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
}


/* stack all grids below 40em (640px)*/
@media all and (max-width: 35em) {
    .my-breakpoint .ui-block-a,
    .my-breakpoint .ui-block-b,
    .my-breakpoint .ui-block-c,
    .my-breakpoint .ui-block-d,
    .my-breakpoint .ui-block-e {
        width: 100%;
        float: none;
    }
}
# jqueryMobileWebsite Boxers.html
